* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.game {
  height: 50vh;
  width:35vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.cell {
  height:100px;
  padding: 14px;
  width: 115px;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 201, 250);
}

.hide{
  display: none;
}
